<!DOCTYPE HTML>
<html dir="ltr" lang="en">
<head>
    <title>Products - Kalaivani Electricals</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Current Transformers, Current Transformers manufacturers, Current Transformers suppliers, Current Transformers manufacturer, Current Transformers exporters, Current Transformers manufacturing companies, Current Transformers traders, Current Transformers wholesalers and Current Transformers producers, low tension current transformer, primary cast transformer, summation current transformers supplier, zero sequence current transformers manufacturer, wound primary current transformers, CT Coil manufacturers in tamil nadu.">
     <meta name="description" content="Current Transformers manufacturers, Current Transformers suppliers, Current Transformers traders, Current Transformers producers, Current Transformers exporters, Current Transformers wholesalers, Current Transformers production centers, Current Transformers companies for your sourcing needs CT Coil Mnaufacturers">
    <link rel="shortcut icon" href="images/index.png">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="css/owl.carousel.css" />
    <link rel="stylesheet" type="text/css" href="css/owl.transitions.css" />
    <link rel="stylesheet" type="text/css" href="css/settings.css" />
    <link rel="stylesheet" type="text/css" href="css/jquery.fancybox.css" />
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="css/copious-icon.css" />
    <link rel="stylesheet" type="text/css" href="css/bootsnav.css" />
    <link rel="stylesheet" type="text/css" href="css/canvas.css" />
    <link rel="stylesheet" type="text/css" href="css/color.css" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body>
    <header id="header-top_3">
     <div class="container">
            <div class="row">
                <div class="header_set">
                    <div class="col-md-10 col-sm-10 col-xs-12">
                        <div class="get-tuch text-left"><i class="icon-telephone114"></i>
                            <ul>
                                <li>
                                    <h4>+91 98847 88787</h4>
                                </li>
                                <li>
                                    <p class="p_14">ketransformer@gmail.com</p>
                                </li>
                            </ul>
                        </div>
                        <div class="get-tuch text-left"><i class="icon-alarmclock"></i>
                            <ul>
                                <li>
                                    <h4>09:00AM - 08:00PM</h4>
                                </li>
                                <li>
                                    <p class="p_14">Monday to Saturday</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-12 text-right">
                        <div class="header-top-links">
                            <div class="social-icons text-right">
                                     <ul>
                                 <li><a href="http://www.facebook.com/#!/pages/Kalaivani-Electricals/274700019225761"><i aria-hidden="true" class="fa fa-facebook"></i></a></li>
                                 <li><a href="http://twitter.com/#!/Kalaivanielec"><i aria-hidden="true" class="fa fa-twitter"></i></a></li>
                                <li><a href="http://in.linkedin.com/in/ketransformer"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                             </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
 <nav class="navbar navbar-default navbar-fixed navbar-transparent navbar-sticky dark bootsnav">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="/">
                        <img src="images/footer-ke.png" class="logo logo-display" alt="ketransformer">
                        <img src="images/ke-logo.png" class="logo logo-scrolled" alt="ketransformer">
                    </a>
                </div>
                <div class="collapse navbar-collapse nav_bor_bot" id="navbar-menu">
                    <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                        <li class="cool-link_3"><a href="/">Home</a>
                        </li>
                        <li class="cool-link_3"><a href="about">About Us</a></li>
                        <li class="cool-link_3 active"><a href="products">Products</a>
                        </li>
                        <li class="cool-link_3"><a href="services">Services</a></li>
                        <li class="cool-link_3"><a href="enquiry">Online Enquiry</a>
                        </li>
                        <li class="cool-link_3"><a href="contact">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <section id="page_banner" class="border_b">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-header">
                        <h2>Products</h2>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-right">
                    <ol class="breadcrumb">
                        <li><a href="#">You are here:</a></li>
                        <li><a href="/">Home</a></li>
                        <li class="active">Products</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section id="solution" class="p-t-80">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading">
                        <div class="heading_border bg_red"></div>
                        <p>Our simplest products</p>
                        <h2>Company <span class="color_red">Products</span></h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="s_services" class="p-t-100 p-b-100">
        <div class="container">
            <div class="row p-t-35">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="services">
                        <div class="image_s">
                            <a href="#">
                                <img src="images/product/outdoor-oil.jpg" alt="Outdoor Oil Cooled CT"></a>
                        </div>
                        <h3 class="text-uppercase">Outdoor Oil Cooled CT</h3>
                        <p align="justify">Oil cooled transformers are made for use on various systems ranging from 11kv to 33kv. the basic construction of the CT.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="services">
                        <div class="image_s">
                            <a href="#">
                                <img src="images/product/oil-cooled-pt.jpg" alt="Outdoor Oil Cooled PT"></a>
                        </div>
                        <h3 class="text-uppercase">Outdoor Oil Cooled PT</h3>
                        <p align="justify">The Oil Cooled Outdoor CT &AMP; PT is designed to increase power supply with minimum distortion to address the persistent problem of low  voltage.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="services">
                        <div class="image_s">
                            <a href="#">
                                <img src="images/product/resin.jpg" alt="Resin Cast CT &amp; PT"></a>
                        </div>
                        <h3 class="text-uppercase">Resin Cast CT &amp; PT</h3>
                        <p align="justify">The transformers are vacuum encapsulated in epoxy resin, which ensures faultless insulation. Incombustible high-class raw material.</p>
                    </div>
                </div>
            </div>
            <div class="row p-t-35 m-t-70 m-b-70">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="services">
                        <div class="image_s">
                            <a href="#">
                                <img src="images/product/metering-units.jpg" alt="Metering Units"></a>
                        </div>
                        <h3 class="text-uppercase">Metering Units</h3>
                        <p align="justify">It represent the secondary values for the current and voltage transformers. That is Metering Units are the values present at the voltage and current inputs.</p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="services">
                        <div class="image_s">
                            <a href="#">
                                <img src="images/product/metering-ct.jpg" alt="Metering CT"></a>
                        </div>
                        <h3 class="text-uppercase">Metering CT</h3>
                        <p align="justify">Accuracy will be selected on the basis of the instrument i.e when installed at a far away from CT the secondary is chosen as 1A instead of 5A.</p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="services">
                        <div class="image_s">
                            <a href="#">
                                <img src="images/product/protection-ct.jpg" alt="Protection CT"></a>
                        </div>
                        <h3 class="text-uppercase">Protection CT</h3>
                        <p align="justify">Protection Current Transformers are designed to measure the actual currents in power systems and to produce proportional currents.</p>
                    </div>
                </div>
            </div>
            <div class="row p-t-35">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="services">
                        <div class="image_s">
                            <a href="#">
                                <img src="images/product/rectangular-ct.jpg" alt="Rectangular Type CT"></a>
                        </div>
                        <h3 class="text-uppercase">Rectangular Type CT</h3>
                        <p align="justify">These products are tested on various levels by quality experts. Also we are providing these products at leading market price.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="services">
                        <div class="image_s">
                            <a href="#">
                                <img src="images/product/resin-cast.jpg" alt="Resin Cast CT"></a>
                        </div>
                        <h3 class="text-uppercase">Resin Cast CT</h3>
                        <p align="justify">The transformers are vacuum encapsulated in epoxy resin, which ensures faultless insulation. Incombustible high-class raw material.</p>
                    </div>
                </div>
                 <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="services">
                        <div class="image_s">
                            <a href="#">
                                <img src="images/product/wpl.jpg" alt="WPL CT"></a>
                        </div>
                        <h3 class="text-uppercase">WPL CT</h3>
                        <p align="justify">wound primary CT’s are used where both primary and secondary turns are wound on the torroidal core. The ranges available are from 5/5A to 100/5As.</p>
                    </div>
                </div>
                 <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="services">
                        <div class="image_s">
                            <a href="#">
                                <img src="images/product/mrt-ct.jpg" alt="TNEB/ MRT CT"></a>
                        </div>
                        <h3 class="text-uppercase">TNEB/ MRT CT</h3>
                        <p align="justify">It is specially made for TNEB specifications. Its available only in class of accuracy 0.5 with sealing provision as per the IS 2705.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
                      <footer id="footer" class="bg_blue p-t-100">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <div class="footer_box_1">
                                <img src="images/footer-ke.png" alt="Kalaivani Electricals" class="img-responsive">
                                <p class="p-t-30 p-b-30 footer_p" align="justify">Kalaivani Electricals an ISO 9001-2008 certified company has been manufac- turing wide range of Instrument Transformers from 0.66kV to 33kV over last 15 Years</p>
                                <div class="social-icons_1">
                              <ul>
                                 <li><a href="http://www.facebook.com/#!/pages/Kalaivani-Electricals/274700019225761"><i aria-hidden="true" class="fa fa-facebook"></i></a></li>
                                 <li><a href="http://twitter.com/#!/Kalaivanielec"><i aria-hidden="true" class="fa fa-twitter"></i></a></li>
                                <li><a href="http://in.linkedin.com/in/ketransformer"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                             </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <div class="footer_box_1">
                                <h3>Quick Links</h3>
                                <ul class="footer_link_1">
                                    <li><a href="/">Home</a></li>
                                    <li><a href="about">About Us</a></li>
                                    <li><a href="products">Products</a></li>
                                     <li><a href="services">Services</a></li>
                                    <li><a href="contact">Contact us</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <div class="footer_box_1">
                                <h3>Products</h3>
                                <ul class="footer_link_1">
                                    <li><a href="products">Metering CT</a></li>
                                    <li><a href="products">Protection CT</a></li>
                                    <li><a href="products">Core Balance CT</a></li>
                                    <li><a href="products">Resin Cast CT</a></li>
                                    <li><a href="products">Wound Primary CT</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <div class="footer_box_1">
                                <h3>Get in Touch</h3>
                                <div class="footer_1_contact">
                                    <div class="adres_box">
                                        <p><i class="icon-telephone114"></i></p>
                                        <p>+91 98847 88787 , +91 98848 09805</p>
                                    </div>
                                    <div class="adres_box">
                                        <p><i class=" icon-icons142"></i></p><p>ketransformer@gmail.com </p>
                                    </div>
                                    <div class="adres_box">
                                        <p><i class=" icon-alarmclock"></i></p><p>Mon to Sat - 09:00AM - 08:00PM</p>
                                    </div>
                                    <div class="adres_box">
                                        <p><i class="icon-icons74"></i></p>
                                        <p>Plot No: 11 &amp; 12, Women Industrial Park, SIDCO, Thirumudivakkam, Chennai - 600 044, South India.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer_botom m-t-80 p-t-20 p-b-20">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-7">
                                <p>Copyrights © 2017 KE Electricals. All rights reserved.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
    <script src="js/jquery.2.2.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/scroll-desktop.js"></script>
    <script type="text/javascript" src="js/scroll-desktop-smooth.js"></script>
    <script src="js/themepunch/jquery.themepunch.revolution.min.js"></script>
    <script src="js/themepunch/jquery.themepunch.tools.min.js"></script>
    <script src="js/themepunch/revolution.extension.layeranimation.min.js"></script>
    <script src="js/themepunch/revolution.extension.navigation.min.js"></script>
    <script src="js/themepunch/revolution.extension.parallax.min.js"></script>
    <script src="js/themepunch/revolution.extension.slideanims.min.js"></script>
    <script src="js/themepunch/revolution.extension.video.min.js"></script>
    <script src="js/tab_slider.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/bootsnav.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/viedobox/video.js"></script>
    <script src="js/jquery.parallax-1.1.3.js"></script>
    <script src="js/bootstrap-number-input.js"></script>
    <script src="js/renge_selectbox-0.2.min.js"></script>
    <script src="js/range-Slider.min.js"></script>
    <script src="js/jquery.counterup.js"></script>
    <script src="js/zelect.js"></script>
    <script src="js/progressbar.js"></script>
    <script src="js/copious_custom.js"></script>
</body>
</html>